
.admin {
    display: flex;
    .admin-menu {
        width:10%;
        //border-right: 1px solid $gray;
        ul {
            padding:1rem;
            li {
                margin-bottom: 1rem;
            }
        }
    }
    .admin-content {
        width: 90%;
        padding:1rem;
    }
}