/*
    blog 관련 css
    blog search 관련 css
    draft-editor 관련 css
    comment 관련 css
*/

.blog {
    .blog-head {
        position: relative;
        margin-bottom: 1rem;
        @media screen and (max-width:1024px) {
            .input-box {
                position: relative !important;
                input {
                    width: 100%;
                }
            }
        }
        .input-box {
            padding-right:50px;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0;
            border-bottom: 1px solid #ddd;
            input {
                border: 0;
                padding: .5rem;
                color : $black;
            }
            span {
                position: absolute;
                right: 0;
                top: 0;
                display: inline-block;
                width: 50px;
                height: 100%;
                z-index: 1;
                svg {
                    position: relative;
                    width: 1rem;
                    top: 9px;
                }
            }
        }
    }
    .blog-filter {
        margin-bottom: 1rem;
        div {
            display: inline-block;
            margin-right: 15px;
            padding-bottom: 5px;
            &::after {
                content: '';
                display: inline-block;
                width:100%;
                height:2px;
                background: transparent;
            }
            &.active {
                &::after {
                    background: $pink;
                }
            }
        }
    }
    .series-list {
        div {
            display: inline-block;
            margin-right: 1rem;
            p {
                &.title {
                    margin-bottom: 5px;
                    font-weight: bold;
                    font-size: 1rem;

                }
                font-size: .9rem;
            }
        }
    }
    .post-list {
        ul {
            li {
                display: block;
                box-sizing: border-box;
                padding: 1rem;
                border-radius: 5px;
                border: 1px solid $gray;
                box-shadow: 0 1px 2px rgba(0,0,0,0.1);
                @include css3(transition, all 0.8s);
                &.active {
                    opacity: 1 !important;
                    transform: scale(1.025) !important;
                }
                &.no {
                    opacity: 0;
                    transform: scale(0.5);

                }
                .post-description {
                    display: block;
                }
                .post-head {
                    display: block;

                    border-bottom: 1px solid $gray;
                    .post-thumb {
                        display: block;
                        a {
                            display: block;
                        }
                        img {
                            width:100%;
                        }
                    }
                    .post-title {
                        margin: 1.5em 0;
                        h3 {
                            margin-bottom:1rem;
                            a {
                                color: $black;
                            }
                        }
                        p {
                            font-size: .9rem;
                            color: $darkpink;
                        }
                    }
                }
                .post-summery {
                    margin: 1.5rem 0;
                    p {
                        line-height: 1.3rem;
                    }
                }
                .post-content {
                    position: relative;
                    margin: 1.5em 0;
                    p {
                        line-height: 1.3rem;
                    }
                }
            }
        }
    }
    .tag-list {
        span {
            display: inline-block;
            margin-right: 5px;
            border-radius: 5px;
            border: 1px solid $gray;
            padding: 10px;
        }
    }
    .blog-series {
        .series {
            position: relative;
            margin-bottom: 1rem;
            display: flex;
            @media screen and (max-width:1024px) {
                display: block;
            }
            a {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                z-index: 1;
            }
            .series-thumb {
                margin-right: 1rem;
                width: 20rem;
                img {
                    width: 100%;
                }
            }
            .series-info {
                min-width: 0px;
                display: flex;
                flex-direction: column;
                -webkit-box-pack: justify;
                justify-content: space-between;
                //height: 100%;
                flex: 1 1 0%;
                padding: 1rem 0;
                p {
                    color: $darkgray;
                    line-height: 1.4rem;
                }
            }
            p {

            }
        }
    }
}

.blog-detail {
    position: relative;
    width: 768px;
    @media screen and (max-width:1024px) {
        width: 100%; 
    }
    .title {
        margin-bottom: .5rem;
        font-size: 1.6rem;
        font-weight: normal;
        color:$black;
    }
    .date {
        display: inline-block;

        font-size: .9rem;
        line-height: 1.3rem;
        color:$black;
    }
    .series {
        display: inline-block;
        margin-right: 1rem;
        box-sizing: border-box;
        padding: 3px;
        border-radius: 5px;
        border:1px solid $gray;
    }
    .admin-buttons {
        margin-bottom: 1rem;
        >button {
            margin-right:10px;
        }
    }
    .sidenav {
        position: absolute;
        left: 100%;
        top: 0;
        width: 200px;
        margin-left: 100px;
        &.active {
            ul {
                position: fixed;
            }
        }
        ul {
            position: absolute;
            top: 100px;
            li {
                margin-bottom: .5rem;
                a {
                    font-size: .9rem;
                }
            }
        }
    
    }
}

.blog-footer {
    width: 768px;
    padding: 2rem 0 0 0;
    margin-top: 2rem;
    border-top: 1px solid $gray;
}

.blog-editor {
    .input-box {
        margin-bottom: 2rem;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid $gray;
        &.tag {
            border:0;
            input {
                font-size: 1rem;
            }
        }
        input {
            width: 100%;
            border:0;
            font-size: 2rem;
        }
    }
    .editor-form-box {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $gray;
        .demo-editor {
            overflow-y: scroll;
            max-height: 720px;
        }
        .DraftEditor-root {
            padding: 1rem;
            //span[data-text="true"] {
                //line-height: 200%;
            //}
        }
    }
    .thumb-preview-box {
        div {
            margin-bottom: 1rem;
            width: 100px;
            height: 100px;
            img{
                width:100%;
            }
        }
    }
    button {
        margin-right: 10px;
    }
}

.draft-editor-contents {
    margin: 2rem 0;
    
    p {
        margin:5px 0;
        color:$black;
        //line-height: 1.6rem;
        line-height: 200%;
        strong {
            padding-left: 0.25em;
            padding-right: 0.25em;
            background: rgb(227, 255, 246);
        }
    }
    span {
        font-size: initial;
    }
    figure {
        img {
            width: 100%;
        }
    }
    blockquote, q {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: 0px;
        margin-right: 0px;
        color: rgb(33, 37, 41);
        border-left: 4px solid rgb(32, 201, 151);
        background: rgb(248, 249, 250);
        padding: 1rem 1rem 1rem 2rem;
        line-height: 200%;
    }
    code {
        display: block;
        margin: 1em 0px;
        padding: 1rem;
        background: rgb(248, 249, 250);
        box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px;
        //font-size: 1.125rem;
        color: rgb(52, 58, 64);
        line-height: 1.85;
        letter-spacing: -0.02em;
        word-break: keep-all;
        overflow-wrap: break-word;
        font-family: Consolas;
        font-size: .9rem;
    }
    ul {
        li {
            position: relative;
            padding-left: 10px;
            //line-height: 1.6rem;
            line-height: 200%;
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 3px;
                height: 3px;
                background: $black;
            }
        }
    }
}

.comment {
    width: 768px;
    margin-top: 3rem;
    .comment-length {
        margin-bottom: 1rem;
    }
    .comment-form {
        text-align: right;;
        textarea {
            resize: none;
            margin-bottom: 1.5rem;
            width: 100%;
            min-height: 6.125rem;
            font-size: 1rem;
            color: $black;
            line-height: 1.75;
            padding: 1rem 1rem 1.5rem;
            outline: none;
            border-width: 1px;
            border-style: solid;
            border-color: $gray;
            border-image: initial;
            border-radius: 4px;
            font-family: 'Noto Serif KR', Arial, Helvetica, sans-serif;
        }
        button {
            display: inline-block;
            margin-left:5px;
            background: $pink;
            &.cancel {
                background: $gray;
            }
        }
    }
    .comments-list {
        li {
            padding: 1.3rem 0;
            border-bottom: 1px solid $gray;
            &:last-child {
                border:0;
            }
            .profile {
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                margin-bottom: 1rem;
                .account-profile-img {
                    position: relative;
                    display: inline-block;
                    height: 2.5rem;
                    width: 2.5rem;
                    margin-right: 10px;
                    border-radius: 50px;
                    overflow: hidden;
                    vertical-align: middle;
                    img {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%); 
                    }
                }
                .profile-info {
                    p {
                        font-weight: bold;
                    }
                    span {
                        color: $darkgray;
                        font-size: .9rem;
                    }
                }
                .action {
                    position: absolute;
                    right: 0;
                    span {
                        display: inline-block;
                        margin-left: 5px;
                        cursor: pointer;
                        color:$darkgray;
                        font-size: .9rem;
                    }
                }
            }
            .comments_content {
                line-height: 1.75;
            }

        }
    }
}