@import './variable';
@import './reset';
@import './header';
@import './user';
@import './home';
@import './footer';
@import './blog';

.layer-popup {
    .wapper {
        top: 150%;
        width: 50%;
        transition: all 0.3s;
    }
    &.active {
        .wapper {
            top: 50%;
            width: 80%;
        }
    }
    &.account {
        .wapper {
            .foot {
                
            }
        }
    }
}

.contents-wrap {
    position: relative;
    //margin-top: 1.5rem;
    width: 1024px;
    margin: 1.5rem auto;
    @media screen and (max-width:1024px) {
        width: 100%; 
    }
}