@import './variable';
@import './reset';
@import './header';
@import './user';
@import './home';
@import './footer';
@import './blog';
@import './profile';
@import './project';
@import './admin';

.layer-popup {
    .wapper {
        top: 150%;
        width: 50%;
        transition: all 0.3s;
    }
    &.active {
        .wapper {
            top: 50%;
            width: 80%;
        }
    }
    &.account {
        .wapper {
            .layer-popup-cotent {
                .confirm-alert {
                    padding: 4rem 0;
                    p {
                        font-size: 1.4rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.contents-wrap {
    position: relative;
    padding-top:73px;
    width: 1024px;
    margin: 1.5rem auto;
    z-index: 1;
    @media screen and (max-width:1024px) {
        width: 100%; 
        overflow: hidden;
        padding: 73px 15px 0;
        h2 {
            padding: 1rem 0 !important; 
        }
    }
    h2 {
        padding: 2rem 0;
        font-size: 1.4rem;
        //text-align: center;
        color: $black;
        line-height: 2rem;
        font-weight: normal;
    }
}

svg {
    width: .9rem;
}

.example {
    display: inline;
}