/*
    user 관련 css
    login
    signup
    edit-user
    user
    
*/

.login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 25rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    form {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
    }
}

.user {
    .user_box {
        p {
            &.title {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
            }
        }
        .user_box-info {
            p {
                margin-bottom: .5rem;
                color:$lightblue;
                letter-spacing: 0.7px;
                span {
                    display: inline-block;
                    margin-right: 1rem;
                }
                .input-box {
                    text-align: left;
                    display: inline-block;
                    margin: 0;
                    input {
                        padding: 0.4rem;
                    }
                }
            }
        }
    }
    .user-edit {
        margin-top: 2rem;
        button {
            margin-right: 10px;
        }
    }
}